{% extends 'todo/main/layout.html' %}
{% block content %}
{{ ckeditor.load() }}
<div class='container' style="display: grid; grid-template-rows:10% 90%; width: 100vw; ">
    <div class="header"
        style="display: grid; grid-template-columns: 10% 15% 70% 5%; width: 100vw; height: 4em; background-color: rgb(0,0,0, 0.44);">
        <div class="dron" style="width: 8vw; margin-bottom: 10%;">
            <input type="checkbox" id="nav-toggle" hidden>
            <nav class="nav" style="background: black; ">
                
                <label for="nav-toggle" class="nav-toggle" onclick
                    style="background-image: url('static/NewLogo.png'); background-color: rgb(0,0,0, 0.00); background-size: cover; width: 10vh; height: 4vh; margin-left:5%;"></label>
                <ul>
                    <li><a href="/">Главная</a>
                    <li><a href="/task_stats">Статистика</a>
                    <li><a href="/profile">Профиль</a>
                    <li><a href="/settings">Настройки</a></li>
                    <li><a href="/logout">Выйти</a>
                </ul>
            </nav>
        </div>
        <style>
            :root {
                --responsive-font-size-primary: min(1em, max(0.5em, 5vmin));
            }
        </style>
        <!-- Форма поиска(не работает в данный момент) -->
        <form action="/" class="search_bar" method="post"
            style="margin-top: 1em; margin-left: 5%; width: 15vw; border: solid white; border-radius: 1.5vh; height: 3vh; ">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <button class="search_button" type="submit" style="anchor-name: search_bar;">🔍</button>
            <input type="text" name="search_bar" placeholder="Найти задачу"
                style="{% if request.cookies.get('font')=='black' %}background-color:{{ request.cookies.get('font') }};color:white;{% else %}color: black;background-color: rgb(209,205,194);{% endif %} width: 60%; background: none; overflow: hidden;">

        </form>
        <!--<form method="post" >
        <button type="submit" id="hider" class="hider" name="hider" value={{default_value}} style="
                    {% if request.cookies.get('font')=='black' %}background-color:{{ request.cookies.get('font') }}
                        ;color:white;{% else %}color: black;{% endif %} border: solid; border-radius: 6px; min-width: 1vw;max-width: 10vw; text-align: center; display: block; font-size: var(--responsive-font-size-primary);">Скрыть готовые</button>
    </form>-->
        <div class="workspaces" style="color: white;margin-right: 2%;  margin-top: 0.5em">
            {% block workspaces %}
            {% endblock %}
            <div class="head" style="margin-left: 30%; margin-right: 40%; font-size: 24px;">
                <select onchange="sort(event)" id="fruits" style="outline: none;">
                    {% for workspace in workspace_list %}
                    <option value="{{ workspace.title }}" {% if workspace.id==current_workspace.id %}selected{% endif
                        %}>
                        {{ workspace.title }}
                    </option>
                    {% endfor %}
                </select>
                <button class="modal-trigger" data-modal-id="modal-create-id"
                    style="font-size: 24px; color: white; text-align: center; background: none; cursor: pointer;">
                    +
                </button>
            </div>
            <!--Создание новой области-->
            <div id="modal-create-id" class="modal-overlay">
                <div class="modal-container"
                    style="{% if request.cookies.get('font')=='white' %}background-color:white;color:black;{% else %} background-color: rgb(56,56,56); color: white;{% endif %}">
                    <h3 class="modal-title">Новая рабочая область</h3>
                    <span class="modal-close">&times;</span>
                    <div class="modal-body">
                        <form class="ui form" action="/add_ws" method="post"
                            style="width: 100%; {% if request.cookies.get('font')=='white' %}background-color:white;color:black;{% else %} background-color: rgb(56,56,56); color: white;{% endif %}"
                            name="creator">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

                            <div class="field">
                                <input type="text" name="title" placeholder="Введите название области"
                                    style="{% if request.cookies.get('font')=='white' %}background-color:white;color:black;{% else %} background-color: rgb(56,56,56); color: white;{% endif %}"><br>
                                <textarea name="workspace-description" class="ckeditor"
                                    style="visibility: hidden; display: none;">Введите описание области</textarea>
                            </div>
                            <button class="ui teal basic button" type="submit"
                                style="margin-bottom: 10px; margin-left: 2.5%;">Добавить
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="avatar" style="float: right; padding: 5%;">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

            <a href="/profile"><img src="{{ url_for('userava') }}"
                    style="width: 3vw; height: 3vw; border: solid white; border-radius: 50%; margin-left: 20.5%; "></a>
        </div>
    </div>


    <div class="tasks_area" style="">
        {% block tasks %}
        <div class="list" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(30vh, 5vh));
            grid-auto-flow: column; overflow-x: auto; height: auto; width: 100vw; grid-column-gap: 20px;">
            {% for tag, task in result.items() %}
            <div class="task_head">
                <div class="task-list">
                    <p
                        style="{% if request.cookies.get('font')=='black' %}background-color:rgb(56,56,56);color:white;{% else %} color: black{% endif %}; text-align: left; margin-bottom: 2.5%; ">
                        <button class="modal-trigger" data-modal-id="modal-open-{{ tag }}"
                            style="font-weight: bold; padding-left: 2%; padding-top: 4%; padding-bottom: 2%;">
                            {{ tag }}
                        </button>

                    </p>
                    {% for tagg in todo_tags %}
                    {% if tag==tagg.title %}
                    <div id="modal-open-{{ tag }}" class="modal-overlay">
                        <div class="modal-container"
                            style="{% if request.cookies.get('font')=='white' %}background-color:white;color:black;{% else %} background-color: rgb(56,56,56); color: white;{% endif %}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

                            <h3 class="modal-title">{{ tag }}</h3>
                            <span class="modal-close">&times;</span>
                            {{ tagg.descr|safe }}
                            <button class="modal-trigger ui yellow basic button"
                                data-modal-id="modal-change-tag-{{ tag }}">
                                Изменить
                            </button>
                            <button class="ui negative basic button" data-tag-ws-id="{{tagg.ws_id}}"
                                data-modal-id="{{tagg.id}}" onclick="onDelete(this)">Удалить</button>
                            <button class="ui teal basic button" type="submit"
                                style="margin: 10px; margin-left: 2.5%;">Сохранить
                            </button>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% for tagg in todo_tags %}
                    {% if tag==tagg.title %}
                    <div id="modal-change-tag-{{ tag }}" class="modal-overlay">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <div class="modal-container"
                            style="{% if request.cookies.get('font')=='white' %}background-color:white;color:black;{% else %} background-color: rgb(56,56,56); color: white;{% endif %}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <h3 class="modal-title">{{ tag }}</h3>
                            <span class="modal-close">&times;</span>
                            <form class="modal-body" action="/change_tag/{{ tagg.id }}" method="post">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                <input type="text" name="title" placeholder="Введите название проекта"
                                    style="width: 100%; {% if request.cookies.get('font')=='white' %}background-color:white;color:black;{% else %} background-color: rgb(56,56,56); color: white;{% endif %}"
                                    value="{{ tagg.title }}"><br>
                                <textarea name="task-description" class="ckeditor">{{ tagg.descr|safe }}</textarea>
                                <button class="ui teal basic button" type="submit"
                                    style="margin: 10px; margin-left: 2.5%;">Сохранить
                                </button>
                            </form>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}


                    <div class="tities_list">
                        {% for todo in todo_list %}
                        {% for title in task %}
                        {% if todo.title == title %}
                        <div class="task_body" style="border: solid white;   border-radius: 15px; display: grid;
                            grid-template-columns: auto 1fr;">
                            <div class="task-header"
                                style="display: flex; flex-direction: column; width: 10vw; height: 100%; order: -1; margin-top: -1px; grid-column: 1;">
                                <div class="status-line"
                                    style="{% if todo.is_complete==True %}background-color: rgb(171,246,0); height: 5px;{% else %}background-color: #85B8FF; height: 5px;{% endif %} width: 95%; margin-top: 3%; margin-bottom: 5%; margin-right: 5%;">
                                </div>
                                <button class="modal-trigger" data-modal-id="modal-{{ todo.id }}"
                                    style="display: inline; word-wrap: break-word; width: 100%; ">
                                    {{ title|safe }}
                                </button>
                            </div>
                            <div class="side_menu"
                                style="display: flex; flex-direction: column; margin-top: auto; margin-left: auto;">
                                {% set total_checks = check_list|selectattr('todo_id', 'equalto', todo.id)|list|length
                                %}
                                {% if total_checks > 0 %}
                                {% set completed_checks = check_list|selectattr('todo_id', 'equalto',
                                todo.id)|selectattr('is_checked')|list|length %}
                                {% set progress = (completed_checks / total_checks * 100)|round|int if total_checks > 0
                                else 0 %}
                                <div class="percentage" style="color: gray">
                                    {{ progress }}%
                                </div>
                                {% endif %}
                                <img src="{{ url_for('userava') }}"
                                    style="width: 1.5vw; height: 1.5vw; border: solid white; border-radius: 50%; margin-left: auto; margin-top: 20%;">
                            </div>
                            <div id="modal-{{ todo.id }}" class="modal-overlay">
                                <div class="modal-container"
                                    style="{% if request.cookies.get('font')=='white' %}background-color:white;color:black;{% else %} background-color: rgb(56,56,56); color: white;{% endif %}">
                                    {{ todo.title }}
                                    <span class="modal-close">&times;</span>
                                    <div class="modal-body">
                                        {{ todo.descr|safe }}
                                        <hr><br>
                                        {% set total_checks = check_list|selectattr('todo_id', 'equalto',
                                        todo.id)|list|length %}

                                        {% set completed_checks = check_list|selectattr('todo_id', 'equalto',
                                        todo.id)|selectattr('is_checked')|list|length %}

                                        {% set progress = (completed_checks / total_checks * 100)|round(0) if
                                        total_checks > 0 else 0 %}
                                        {% if total_checks > 0 %}
                                        <progress class="progress-bar" value={{ progress }} max=100 style="">

                                        </progress>
                                        {% endif %}

                                        <form class="chlist">
                                            {% for check in check_list %}
                                            {% if todo.id == check.todo_id %}
                                            <input type="checkbox" data-check-id={{ check.id }} data-task-id={{ todo.id
                                                }} onchange="onCheckChange(event)" {% if check.is_checked==0 %}{% else
                                                %}checked{% endif %}>
                                            {{ check.text }}<br>
                                            {% endif %}
                                            {% endfor %}
                                        </form>
                                        {% if todo.is_complete == False %}
                                        <span class="ui gray label">В работе</span>
                                        <button class="modal-trigger ui yellow basic button"
                                            data-modal-id="modal-change-{{ todo.id }}">
                                            Изменить
                                        </button>
                                        <a class="ui primary basic button" href="/update/{{ todo.id }}">Завершить</a>
                                        {% else %}
                                        <span class="ui green label">Завершено</span>
                                        <a class="ui blue basic button" href="/update/{{ todo.id }}">Возобновить</a>
                                        {% endif %}
                                        <a class="ui negative basic button" href="/delete/{{ todo.id }}">Удалить</a>
                                        {% if todo.is_cycle == 'checked' %}
                                        <p>Цикличная: Да</p>
                                        {% else %}
                                        <p>Цикличная: Нет</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div id="modal-change-{{ todo.id }}" class="modal-overlay">
                                
                                <div class="modal-container"
                                    style="{% if request.cookies.get('font')=='white' %}background-color:white;color:black;{% else %} background-color: rgb(56,56,56); color: white;{% endif %}">
                                    <h3>Изменить задачу</h3>
                                    <span class="modal-close">&times;</span>
                                    <form class="modal-body" action="/change_content/{{todo.id}}" method="post">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                        <input type="text" name="title" placeholder="Введите название задачи"
                                            style="width: 100%; {% if request.cookies.get('font')=='white' %}background-color:white;color:black;{% else %} background-color: rgb(56,56,56); color: white;{% endif %}"
                                            value="{{ todo.title }}"><br>
                                        <textarea name="task-description"
                                            class="ckeditor">{{ todo.descr|safe }}</textarea>


                                        <!-- Чек-лист
                                            <div class="container_check"
                                            style="width: 50%; display: inline; margin-left: 1.5em;">
                                            <label class="add_button" onclick="CheckClicked(this)">Добавить
                                                чек-лист</label>
                                                <form class="chlist">
                                                    {% for check in check_list %}
                                                    {% if todo.id == check.todo_id %}
                                                    <input type="checkbox" data-check-id={{ check.id }} data-task-id={{ todo.id
                                                        }} onchange="onCheckChange(event)" {% if check.is_checked==0 %}{% else
                                                        %}checked{% endif %}>
                                                    {{ check.text }} <button>c</button><br>
                                                    {% endif %}
                                                    {% endfor %}
                                                </form>
                                        </div><br> -->
                                        <!-- <input type="text" name="responsible" placeholder="Добавить ответственного"
                                            style="width: 100%; {% if request.cookies.get('font')=='white' %}background-color:white;color:black;{% else %} background-color: rgb(56,56,56); color: white;{% endif %}"> -->
                                        <button class="ui teal basic button" type="submit"
                                            style="margin: 10px; margin-left: 2.5%;">
                                            Сохранить
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}

                    </div>
                    <button class="modal-trigger" data-modal-id="modal-create-{{ tag }}"
                        style="{% if request.cookies.get('font')=='black' %}background-color:{{ request.cookies.get('font') }};color:white;{% else %} background-color: #F1F2F4; color: black;{% endif %} margin-top: 5%; width: 100%; text-align: center; display: block; background: none; cursor: pointer; padding-bottom: 5%;">
                        + Добавить задачу
                    </button>

                    <div id="modal-create-{{ tag }}" class="modal-overlay">
                        <div class="modal-container"
                            style="{% if request.cookies.get('font')=='white' %}background-color:white;color:black;{% else %} background-color: rgb(56,56,56); color: white;{% endif %}">
                            <h3 class="modal-title">Новая задача</h3>
                            <span class="modal-close">&times;</span>
                            <div class="modal-body">
                                <form class="ui form" action="/add" method="post"
                                    style="width: 100%; {% if request.cookies.get('font')=='white' %}background-color:white;color:black;{% else %} background-color: rgb(56,56,56); color: white;{% endif %}"
                                    name="creator">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                    <div class="field">
                                        <input type="text" name="title" placeholder="Введите название задачи"
                                            style="{% if request.cookies.get('font')=='white' %}background-color:white;color:black;{% else %} background-color: rgb(56,56,56); color: white;{% endif %}"><br>
                                        <textarea name="task-description" class="ckeditor"
                                            style="visibility: hidden; display: none;">Введите описание задачи</textarea>
                                        <input type="text" name="tag" placeholder={{ tag }}
                                            style="{% if request.cookies.get('font')=='white' %}background-color:white;color:black;{% else %}background-color:rgb(56,56,56);color:white;{% endif %}"
                                            value="{{ tag }}"><br>
                                        <div class="additional">
                                            <label style="width: 50%; display: inline;"><input name="checker"
                                                    type="checkbox" value="checked"
                                                    style="margin-top: 0.5%; margin-right: 0.5%;">Цикличная</label>
                                            <div class="container_check"
                                                style="width: 50%; display: inline; margin-left: 1.5em;">
                                                <label class="add_button" onclick="CheckClicked(this)">Добавить
                                                    чек-лист</label>
                                            </div>
                                        </div>


                                    </div>

                                    <button class="ui teal basic button" type="submit"
                                        style="margin-bottom: 10px; margin-left: 2.5%;">Добавить
                                    </button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% if todo_responsible %}
            <div class="resp_head">
                <p>
                    <button class="modal-trigger" data-modal-id="modal-open-{{ tag }}"
                        style="font-weight: bold; padding-left: 2%; padding-top: 4%; padding-bottom: 2%;">
                        Назначенные
                    </button>
                </p>
                <div class="resp_list">
                    {% for todo in todo_responsible %}
                    <div class="task_body modal-trigger data-modal-id='modal-{{ todo.id }}'"
                        style="{% if todo.is_complete==True %}border: solid rgb(171,246,0);   border-radius: 15px; border-width: 2px;text-decoration: line-through;{% else %}border:solid #85B8FF; border-width: 2px; border-radius: 15px;{% endif %}">
                        <button>
                            {{ todo.title|safe }}
                        </button>
                        <div id="modal-{{ todo.id }}" class="modal-overlay">
                            <div class="modal-container"
                                style="{% if request.cookies.get('font')=='white' %}background-color:white;color:black;{% else %} background-color: rgb(56,56,56); color: white;{% endif %}">
                                {{ todo.title }}
                                <span class="modal-close">&times;</span>
                                <div class="modal-body">
                                    {{ todo.descr|safe }}
                                    <div class="nav" style="margin-top: 2.5%;">
                                        {% if todo.is_complete == False %}
                                        <span class="ui gray label">В работе</span>
                                        <button class="modal-trigger ui yellow basic button"
                                            data-modal-id="modal-change-{{ todo.id }}">
                                            Изменить
                                        </button>

                                        <a class="ui primary basic button" href="/update/{{ todo.id }}">Завершить</a>
                                        {% else %}
                                        <span class="ui green label">Завершено</span>
                                        <a class="ui blue basic button" href="/update/{{ todo.id }}">Возобновить</a>
                                        {% endif %}
                                        <a class="ui negative basic button" href="/delete/{{ todo.id }}">Удалить</a>
                                        {% if todo.is_cycle == 'checked' %}
                                        <p>Цикличная: Да</p>
                                        {% else %}
                                        <p>Цикличная: Нет</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="modal-change-{{ todo.id }}" class="modal-overlay">
                            <div class="modal-container"
                                style="{% if request.cookies.get('font')=='white' %}background-color:white;color:black;{% else %} background-color: rgb(56,56,56); color: white;{% endif %}">
                                {{ todo.title }}
                                <span class="modal-close">&times;</span>
                                <form class="modal-body" action="/change_content/{{ todo.id }}" method="post">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                    <input type="text" name="title" placeholder="Введите название задачи"
                                        style="width: 100%; {% if request.cookies.get('font')=='white' %}background-color:white;color:black;{% else %} background-color: rgb(56,56,56); color: white;{% endif %}"
                                        value="{{ todo.title }}"><br>
                                    <textarea name="task-description" class="ckeditor">{{ todo.descr|safe }}</textarea>
                                    <button class="ui teal basic button" type="submit"
                                        style="margin: 10px; margin-left: 2.5%;">Сохранить
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            <button class="modal-trigger" data-modal-id="modal-create-new-{{ result }}"
                style="{% if request.cookies.get('font')=='black' %}background-color:{{ request.cookies.get('font') }};color:white;{% else %}color: black; background-color: #E9ECEF;{% endif %} border: solid #E9ECEF; box-shadow: 0px 8px 8px -3px rgba(0, 0, 0, 0.2);  border-radius: 6px; text-align: center; cursor: pointer; width: 10vh; height: 3%; margin-top:5%;">
                +
            </button>

            {% for workspace in workspace_list %}
            <div id="modal-create-new-{{ result }}" class="modal-overlay">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

                <div class="modal-container"
                    style="{% if request.cookies.get('font')=='white' %}background-color:white;color:black;{% else %} background-color: rgb(56,56,56); color: white;{% endif %}">
                    <h3 class="modal-title">Новый проект</h3>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

                    <span class="modal-close">&times;</span>
                    {{ current_workspace.title }}
                    <div class="modal-body">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

                        <form class="ui form" action="/add_tag/{{ current_workspace.id }}" method="post"
                            style="width: 100%; {% if request.cookies.get('font')=='white' %}background-color:white;color:black;{% else %} background-color: rgb(56,56,56); color: white;{% endif %}"
                            name="creator">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

                            <div class="field">
                                <input type="text" name="title" placeholder="Введите название проекта"
                                    style="{% if request.cookies.get('font')=='white' %}background-color:white;color:black;{% else %} background-color: rgb(56,56,56); color: white;{% endif %} width: 100%;">
                                <br>
                                <textarea name="task-description" class="ckeditor"
                                    style="visibility: hidden; display: none;">Введите описание проекта</textarea>
                                <button class="ui teal basic button" type="submit" style="margin-bottom: 10px;">Добавить
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endblock %}
    </div>
</div>


<!--Модальные окна-->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        function initCKEditor() {
            document.querySelectorAll('.ckeditor').forEach(textarea => {
                CKEDITOR.replace(textarea);
                if (CKEDITOR.instances[textarea.name]) {
                    CKEDITOR.instances[textarea.name].destroy();
                }

                // я хуй знает, возможно оно не работает и его можно выпилить
                if (textarea.closest('.modal-body').querySelectorAll('.ckeditor').length !== 1) {
                    if (CKEDITOR.instances[textarea.name]) {
                        CKEDITOR.instances[textarea.name].destroy();
                    }
                }
                console.log(CKEDITOR.instances)
            });
        }

        window.sort = async function (event) {
            const selectedValue = event.target.value;

            try {
                const response = await fetch('/sort', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token() }}'
                    },
                    body: JSON.stringify({
                        destination: selectedValue,
                    })
                });

                const data = await response.json();
                if (!response.ok) throw new Error(data.error || 'Unknown error');

                const tempContainer = document.createElement('div');
                tempContainer.innerHTML = data.html;

                const newTasksArea = tempContainer.querySelector('.tasks_area');
                if (newTasksArea) {
                    for (const name in CKEDITOR.instances) {
                        CKEDITOR.instances[name].destroy();
                    }

                    const currentTasksArea = document.querySelector('.tasks_area');
                    currentTasksArea.innerHTML = newTasksArea.innerHTML;

                    initModals();
                    initDragScroll();
                    initCKEditor();
                } else {
                    console.error('Could not find tasks area in the response');
                }

            } catch (error) {
                console.error('Ошибка:', error);
                alert('Произошла ошибка при обновлении списка');
            }
        };



        // Модальные окна
        function initModals() {
            document.querySelectorAll('.modal-trigger').forEach(button => {
                button.replaceWith(button.cloneNode(true));
            });
            console.log('CKEDITOR instances:', CKEDITOR.instances);

            document.querySelectorAll('.modal-close').forEach(closeBtn => {
                closeBtn.replaceWith(closeBtn.cloneNode(true));
            });

            document.querySelectorAll('.modal-trigger').forEach(button => {
                button.addEventListener('click', function () {
                    console.log('CKEDITOR instances:', CKEDITOR.instances);

                    const modalId = this.getAttribute('data-modal-id');
                    const modal = document.getElementById(modalId);

                    if (modal) {
                        const textarea = modal.querySelector('.ckeditor');
                        const task_description = modal.querySelector('.task-description');
                        const workspace_description = modal.querySelector('.workspace-description');
                        const change_task_description = modal.querySelector('.change-task-description')

                        if (task_description) {
                            task_description.style.display = 'none';
                            task_description.style.visibility = 'hidden';
                        }
                        if (workspace_description) {
                            workspace_description.style.display = 'none';
                            workspace_description.style.visibility = 'hidden';
                        }

                        if (change_task_description) {
                            change_task_description.style.display = 'none';
                            change_task_description.style.visibility = 'hidden';
                        }

                        if (textarea && !textarea.closest('.cke')) {
                            if (CKEDITOR.instances[textarea.name]) {
                                CKEDITOR.instances[textarea.name].destroy();
                            }
                            // Инициализируем CKEditor ТОЛЬКО если его нет в модальном окне. Хуй знает как, но это работает
                            if (!textarea.closest('.modal-body').querySelector('.cke')) {
                                CKEDITOR.replace(textarea);
                            }
                        }

                        modal.style.display = 'block';
                        document.body.style.overflow = 'hidden';
                    }
                });
            });

            document.querySelectorAll('.modal-close').forEach(closeBtn => {
                closeBtn.addEventListener('click', function () {
                    const modal = this.closest('.modal-overlay');
                    if (modal) {
                        const textarea = modal.querySelector('.ckeditor');
                        if (textarea && CKEDITOR.instances[textarea.name]) {
                            CKEDITOR.instances[textarea.name].destroy();
                        }
                        modal.style.display = 'none';
                        document.body.style.overflow = '';
                    }
                });
            });

            document.querySelectorAll('.modal-overlay').forEach(modal => {
                modal.addEventListener('click', function (event) {
                    if (event.target === this) {
                        const textarea = this.querySelector('.ckeditor');
                        if (textarea && CKEDITOR.instances[textarea.name]) {
                            CKEDITOR.instances[textarea.name].destroy();
                        }
                        this.style.display = 'none';
                        document.body.style.overflow = '';
                    }
                });
            });
        }

        // Скролл списка задач
        function initDragScroll() {
            const scrollContainer = document.querySelector(".list");
            if (!scrollContainer) return;

            let isDragging = false;
            let startX, scrollStart;

            scrollContainer.addEventListener("pointerdown", (e) => {
                isDragging = true;
                startX = e.clientX;
                scrollStart = scrollContainer.scrollLeft;
                scrollContainer.style.cursor = "grabbing";
            });

            scrollContainer.addEventListener("pointerup", () => {
                isDragging = false;
                scrollContainer.style.cursor = "grab";
            });

            scrollContainer.addEventListener("pointerleave", () => {
                isDragging = false;
                scrollContainer.style.cursor = "grab";
            });

            scrollContainer.addEventListener("pointermove", (e) => {
                if (!isDragging) return;
                e.preventDefault();
                const currentX = e.clientX;
                const deltaX = currentX - startX;
                scrollContainer.scrollLeft = scrollStart - deltaX;
            });

            scrollContainer.style.cursor = "grab";
        }

        initModals();
        initDragScroll();

    });


    <!--Динамический лист чек-боксов-->
    function CheckClicked(button) {
        let modal = button.closest('.modal-overlay');

        if (!modal) {
            console.error("Модальное окно не найдено.");
            return;
        }

        let container = modal.querySelector('.container_check');

        if (!container) {
            console.error("Контейнер чек-листа не найден.");
            return;
        }
        let div = document.createElement('div');
        div.classList.add('checklist-item');
        div.style.marginTop = '5px';

        let checkbox = document.createElement('input');
        checkbox.type = 'checkbox';
        checkbox.name = 'checklist[]';
        checkbox.style.marginTop = '2%';

        let input = document.createElement('input');
        input.type = 'text';
        input.name = 'checklist_text[]';
        input.placeholder = 'Введите пункт чек-листа';
        input.style.marginLeft = '5px';
        input.style.width = '50%';

        // div.appendChild(checkbox);
        div.appendChild(input);
        container.appendChild(div);
    }

    async function onCheckChange(event) {
        const checkbox = event.target;
        const taskItem = checkbox.closest('.task_body'); // Находим родительский контейнер задачи
        const taskId = checkbox.dataset.taskId; // Получаем ID из data-атрибута
        const checkId = checkbox.dataset.checkId;
        const progressBar = checkbox.closest('.task_body').querySelector('.progress-bar');
        const percent = checkbox.closest('.task_body').querySelector('.percentage');
        const totalChecks = checkbox.parentElement.querySelectorAll('input[type="checkbox"]').length;
        const completedChecks = checkbox.parentElement.querySelectorAll('input[type="checkbox"]:checked').length;
        const newProgress = (completedChecks / totalChecks * 100).toFixed(0);

        try {
            await fetch('/update_checkbox', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token() }}'
                },
                body: JSON.stringify({
                    task_id: taskId,
                    is_checked: checkbox.checked,
                    id: checkId
                })
            });
            progressBar.value = newProgress;
            percent.textContent = `${newProgress}%`;
        } catch (error) {
            console.error('Ошибка:', error);
        }
    }




    async function onDelete(button) {
        let tag_id = button.getAttribute('data-modal-id');
        let ws_id = button.getAttribute('data-tag-ws-id');
        const modal = button.closest('.modal-overlay');
        console.log(modal)
        console.log(tag_id);
        console.log(ws_id);

        try {
            const response = await fetch('/delete_tag', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token() }}'
                },
                body: JSON.stringify({
                    tag_id: tag_id,
                    ws_id: ws_id,

                })
            });
            const data = await response.json();
            if (!response.ok) throw new Error(data.error || 'Unknown error');

            const tempContainer = document.createElement('div');
            tempContainer.innerHTML = data.html;

            const newTasksArea = tempContainer.querySelector('.tasks_area');
            if (newTasksArea) {
                modal.style.display = 'none';
                document.body.style.overflow = '';


                const currentTasksArea = document.querySelector('.tasks_area');
                currentTasksArea.innerHTML = newTasksArea.innerHTML;

            } else {
                console.error('Could not find tasks area in the response');
            }
        } catch (error) {
            console.error('Ошибка:', error);
        }
    }



</script>


{% endblock %}