<!doctype html>
<html lang="ru">
<head>
      <meta charset="UTF-8">
      <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{ title if title else '- Базовый шаблон' }} </title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{#      <script src="/static/openmodal.js"></script>#}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
      <link href="https://cdn.jsdelivr.net/gh/Alaev-Co/snowflakes/dist/snow.min.css" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
      <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<!--Поставить анимеху на фон в body-->
<body style="background-color: black;">
      <script src="https://cdn.jsdelivr.net/gh/Alaev-Co/snowflakes/dist/Snow.min.js"></script>
      <script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
      <script>
            document.addEventListener('DOMContentLoaded', function () {
                  if (typeof CKEDITOR !== 'undefined') {
                        // Find the instance of CKEditor and set the configuration
                        for (var instance in CKEDITOR.instances) {
                              if (CKEDITOR.instances.hasOwnProperty(instance)) {
                                    CKEDITOR.instances[instance].config.versionCheck = false;
                              }
                        }
                  }
            });
      </script>

      <script>
            function getCookieValue(name) {
                  let matches = document.cookie.match(new RegExp(
                        "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
                  ));
                  return matches ? decodeURIComponent(matches[1]) : null;
            }

            var some = getCookieValue('snow_state'); 
            if (some!= 'on') {
                  console.log('Snow turned off')
            }
            else {
                  new Snow();
                  console.log('Snow turned on')
            }
      </script>

      {% block content %}
      {% endblock content %}
</body>

</html>