{% extends 'todo/main/layout.html' %}
{% include '/todo/main/test_menu.html' %}

{% block content %}
                Тема: <br>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                <form action="/change_theme" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                    <select name="font" onchange="submit()">
                        <option value="">---</option>

                        <option value="black" {% if request.cookies.get('font')=='black' %}selected{% endif %}>dark
                        </option>
                        <option value="white" {% if request.cookies.get('font')=='white' %}selected{% endif %}>light
                        </option>
                    </select>
                </form>
                Анимации: <br>
                <form action="/change_snow_state" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                    <select name="snow_state" onchange="submit()">
                        <option value="">---</option>
                        <option value="on" {% if request.cookies.get('snow_state')=='on' %}selected{% endif %}>on
                        </option>
                        <option value="off" {% if request.cookies.get('snow_state')=='off' %}selected{% endif %}>off
                        </option>
                    </select>
                </form>
{% endblock content %}