<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="https://unpkg.com/@tailwindcss/browser@4"></script>
<body> 
<div class="header" style="width: 100vw; height: 4em; background-color: rgb(0,0,0, 0.44);">
    <div class="dron" style="width: 8vw;">
        <input type="checkbox" id="nav-toggle" hidden>
        <nav class="nav" style="background: black; ">

            <label for="nav-toggle" class="nav-toggle" onclick
                style="background-image: url('static/NewLogo.png'); background-color: rgb(0,0,0, 0.00); background-size: cover; width: 11vh; height: 4vh; margin-left:5%;"></label>
            <ul>
                <li><a href="/">Главная</a>
                <li><a href="/task_stats">Статистика</a>
                <li><a href="/profile">Профиль</a>
                <li><a href="/settings">Настройки</a></li>
                <li><a href="/logout">Выйти</a>
            </ul>
        </nav>
    </div>
</div>
</body>