<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% block content %}
<div class="header" style="display: grid; grid-template-columns: 5%  10% 10% 60% 5% 5%; width: 100vw;">
    <div class="dropdown" style="width: 3vh; ">
    <button class="dropbtn" style="background-color:rgb(1,110,78)">≡</button>
    <div class="dropdown-content" style="background-color: rgb(133,156,182);">
        <li style="  list-style-type: none;margin: 0;padding: 0;">
            <a href="/">Главная</a>
            <a href="/task_stats">Статистика</a>
            <a href="/release">Что нового</a>
            <a href="/profile">Профиль</a>       
            <a href="/logout">Выйти</a>
        </li>
    </div>
</div>
<style>
    :root {     --responsive-font-size-primary: min(1em, max(0.5em, 5vmin)); }
</style>
<form action="/search" method="post" style="display: inline-block;">
    <input type="text" name="search_bar" placeholder="Поиск"
        style="{% if request.cookies.get('font')=='black' %}background-color:{{ request.cookies.get('font') }};color:white;{% else %}color: black;background-color: rgb(209,205,194);{% endif %} width: 60%; ">
    <button class="search_button" type="submit" style="anchor-name: search_bar;">🔍</button>
</form>
<form method="post" >
    <button type="submit" id="hider" class="hider" name="hider" value={{default_value}} style="{% if request.cookies.get('font')=='black' %}background-color:{{ request.cookies.get('font') }};color:white;{% else %}color: black;{% endif %} border: solid; border-radius: 6px; min-width: 1vw;max-width: 10vw; text-align: center; display: block; font-size: var(--responsive-font-size-primary);">Скрыть готовые</button>
</form>
{% if request.cookies.get('font')=='black' %}

<img src="/static/todo_log_noback.png" style="margin-left: 10%;margin-right: 25%; width: 25vw;">
{% else %}
<img src="/static/todo_logo_noback_light.png" style="margin-left: 10%;margin-right: 25%; width: 25vw;">
{% endif %}
<div class="dropdown2" style="width: 3vh;">
    <button class="dropbtn2" style="background-color:rgb(1,110,78)">⚙</button>
    <div class="dropdown-content2" style="background-color: rgb(133,156,182);">
        Тема: <br>
        <form action="/change_theme" method="post">
            <select name="font" onchange="submit()">
                <option value="">---</option>
        
            <option value="black" {% if request.cookies.get('font') == 'black' %}selected{% endif %}>dark</option>
            <option value="white" {% if request.cookies.get('font') == 'white' %}selected{% endif %}>light</option>
            </select>    
            </form>
            Анимации: <br>
<form action="/change_snow_state" method="post">
    <select name="snow_state" onchange="submit()">
        <option value="">---</option>
        <option value="on" {% if request.cookies.get('snow_state') == 'on' %}selected{% endif %}>on</option>
        <option value="off" {% if request.cookies.get('snow_state') == 'off' %}selected{% endif %}>off</option>
        </select>  
</form>
            </div>
            
    </div>
    <div class="avatar">
       <a href="/profile"><img src="{{ url_for('userava') }}" style="width: 5vw; height: 5wh; border: solid white; border-radius: 60px; display: inline; margin-left: 22.5%;"></a>
    </div>
</div>

{% endblock content %}