{% extends 'todo/layout.html' %}
<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title if title else 'Админ-панель' }} </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/gh/Alaev-Co/snowflakes/dist/snow.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

    <body style="{% if request.cookies.get('font')=='black' %}background-color:{{ request.cookies.get('font') }};color:white{% endif %}">
    
    <script src="https://cdn.jsdelivr.net/gh/Alaev-Co/snowflakes/dist/Snow.min.js"></script>
    <!--<div id='divPlotly' style="width:30%; height: 30%; font-size: 12px;"></div>-->
    {% block content %}
    
    <div class="content" style="  display: flex; margin-top: 2%; margin-left: 2%; margin-right: 2%; color: white;">



        <div class="form" style="background-color:wheat;width: 30%;margin-left: 10%; margin-right: 60%;">
            {% block tags %}
            Теги:<br>
            {% for tag in tag_list %}
            <a>{{tag.title}}</a> <a href="/get_tag/{{tag.id}}">Ch</a> <a href="/delete_tag/{{ tag.id }}">Del</a>
            <br>
            {% endfor %}
            {% endblock %}
            -----------------------------<br>
            <a href="#openModal">Создать тег</a><br>

        </div>


        <div id="openModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Новый тег</h3>
                        <a href="#close" title="Close" class="close">×</a>
                    </div>
                    <div class="modal-body">
                        <form class="ui form" action="/add_tag" method="post"
                            style="width: 100%; background-color: rgb(56, 55, 55);" name="creator">
                            <div class="field">
                                <input type="text" name="title" placeholder="Введите название тега"
                                    style="background-color: rgb(56, 55, 55); color: white;"><br>
                                <textarea id="story" name="descr" rows="5" cols="33" maxlength="1000"
                                    placeholder="Введите описание тега"
                                    style="background-color: rgb(56, 55, 55); color: white;"></textarea><br>
                            </div>
                            <button class="ui teal basic button" type="submit"
                                style="margin-bottom: 10px; margin-left: 2.5%;">Добавить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="openModal2" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Новый тег</h3>
                        <a href="#close" title="Close" class="close">×</a>
                    </div>
                    <div class="modal-body">
                        <form class="ui form" action="/change_tag" method="post"
                            style="width: 100%; background-color: rgb(56, 55, 55);" name="creator">
                            <div class="field">
                                <input type="text" name="title" placeholder="Введите название тега"
                                    style="background-color: rgb(56, 55, 55); color: white;"><br>
                                <textarea id="story" name="descr" rows="5" cols="33" maxlength="1000"
                                    placeholder="Введите описание тега"
                                    style="background-color: rgb(56, 55, 55); color: white;"></textarea><br>
                            </div>
                            <button class="ui teal basic button" type="submit"
                                style="margin-bottom: 10px; margin-left: 2.5%;">Добавить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    Select Theme: <br>
    <form action="/change_theme" method="post">
        <select name="font" onchange="submit()">
            <option value="">---</option>

        <option value="black" {% if request.cookies.get('font') == 'black' %}selected{% endif %}>dark</option>
        <option value="white" {% if request.cookies.get('font') == 'white' %}selected{% endif %}>light</option>
        </select>    
        </form>
    Change snow state: <br>
    <form action="/change_snow_state" method="post">
        <select name="snow_state" onchange="submit()">
            <option value="">---</option>
            <option value="on" {% if request.cookies.get('snow_state') == 'on' %}selected{% endif %}>on</option>
            <option value="off" {% if request.cookies.get('snow_state') == 'off' %}selected{% endif %}>off</option>
            </select>  
    </form>


















    <!--Открытие модального окна-->

    {% endblock content %}







</body>

</html>


