{% extends 'todo/layout.html' %}
{% include 'todo/menu.html' %}

{% block content %}
<script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
{{ ckeditor.load() }}



<div class='container' style="background-color: rgb(56, 55, 55);display: grid; grid-template-columns:20% 80%;">


    <div class="workspaces" style="color: white; background-color: gray; margin-right: 2%; grid-column-start: 1; ">
        {% block workspaces %}
        Рабочие области:<br>
        {% for workspace in workspace_list %}
        <a href="">{{workspace.title}}</a>
        {% endfor %}<br>
        <a href="/add_ws" style="margin-left: 35%; margin-right: 25%;">+</a>
        {% endblock %}
    </div>

    <div class="tasks_area" style="color: white; background-color: gray; grid-column-start: 2;">
        {% block tasks %}
        <div class="list"
            style="display: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 300px));grid-auto-flow: column; overflow-x: scroll; overflow-y: scroll; height: 90vh;">
            {% for tag, task in result.items() %}
            <div class="task_head" style="margin-right: 10%;">
                    {{tag}}
                    <br>--------<br>
                    <div class="task_body">
                        {% for todo in todo_list %}
                        {% for title in task %}
                            {% if todo.title == title %}
                            <br><a href="/get_task/{{todo.id}}">{{title |safe}}</a><br>
                            {% endif %}
                            {% endfor %} 
                            {% endfor %}                 
                    </div>
                </div>

                {% endfor %}
            
        </div>



        {% endblock %}
    </div>
</div>


{% endblock content %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var elem = document.querySelector('[href="#openModal"]');
        var canLink = elem ? elem.href : "";
        if (canLink !== "") {
            document.querySelector('[href="#openModal"]').addEventListener('click', function () {
                document.modal2.style.overflow = 'hidden';
            });
            document.querySelector('[href="#close"]').addEventListener('click', function () {
                document.modal2.style.overflow = 'visible';
            });
        }

    });
</script>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        if (typeof CKEDITOR !== 'undefined') {
            // Find the instance of CKEditor and set the configuration
            for (var instance in CKEDITOR.instances) {
                if (CKEDITOR.instances.hasOwnProperty(instance)) {
                    CKEDITOR.instances[instance].config.versionCheck = false;
                }
            }
        }
    });
</script>