{% extends 'todo/layout.html' %}

{% block content %}
<h1 class="ui center aligned header" style="color: white; position: static;">Менеджер задач</h1>
<div style="margin-top: 2.5%; class:'ui container'; margin-left: 10%; margin-right: 10%; display: flex;">
    <div class="navigation"
        style="color: white; background-color: rgb(56, 55, 55); width: 30%; height: 70%; margin-bottom: 1%;">
        <div class="tags" style="margin-left: 5%;">
            {% block tags %}
            Теги:<br>
            {% for tag in todo_tags %}
            <a href="/sort/{{ tag.tag }}">{{tag.tag}}<br></a>
            {% endfor %}
            {% endblock %}
        </div>
        <form action="/" method="get" style="margin-bottom: 2.5%; margin-left: 5%;">
            <button type="submit">Главная</button>
        </form>
    </div>
    <div class="contentt" style="width: 100%;">
        <form class="ui form" action="/add" method="post"
            style="margin-left: 15%;margin-right: 25%;width: 80%; background-color: rgb(56, 55, 55);" name="creator">
            <div class="field">
                <label style="margin-left: 2.5%; color: white">Новая задача</label>
                <input type="text" name="title" placeholder="Введите название задачи"
                    style="background-color: rgb(56, 55, 55); color: white;"><br>
                    <textarea id="story" name="descr" rows="5" cols="33" placeholder="Введите описание задачи"
                    style="background-color: rgb(56, 55, 55); color: white;"></textarea><br>
                <input type="text" contenteditable="true" name="tag" placeholder="Введите тег"
                    style="background-color: rgb(56, 55, 55); color: white;"><br>
            </div>
            <button class="ui teal basic button" type="submit"
                style="margin-bottom: 10px; margin-left: 2.5%;">Добавить</button>
        </form>

        {% for todo in todo_list %}
        <div class="ui segment"
            style="margin-left: 15%; margin-right: 25%; width: 80%; background-color: rgb(56, 55, 55);">
            <p class="ui big header" name="header" style="margin-bottom: 2.5%; color: white; ">#{{todo.tag}}
                #{{todo.id}}<br>{{todo.title}}<br></p>
            <p class="ui big header" name="header" style="margin-bottom: 2.5%; color: white; font-size: 14px;">{{
                todo.descr
                |safe}}</p>
            {% if todo.is_complete == False %}
            <span class="ui gray label">В работе</span>
            <a class="ui primary basic button" href="/update/{{ todo.id }}">Завершить</a>
            {% else %}
            <span class="ui green label">Завершено</span>
            <a class="ui blue button" href="/update/{{ todo.id }}">Возобновить</a>
            {% endif %}
            <a class="ui negative basic button" href="/delete/{{ todo.id }}">Удалить</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}