<!doctype html>
<html lang="ru">
<head>
      <meta charset="UTF-8">
      <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{ title if title else '- Базовый шаблон' }} </title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{#      <script src="/static/openmodal.js"></script>#}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
      <link href="https://cdn.jsdelivr.net/gh/Alaev-Co/snowflakes/dist/snow.min.css" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

      <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body
      style="{% if request.cookies.get('font')=='black' %}background-color:{{ request.cookies.get('font') }};color:white;{% else %}background-color: #F2FED1;color: black;{% endif %}">
      <script src="https://cdn.jsdelivr.net/gh/Alaev-Co/snowflakes/dist/Snow.min.js"></script>




      <script>
            document.addEventListener('DOMContentLoaded', function () {
                  if (typeof CKEDITOR !== 'undefined') {
                        // Find the instance of CKEditor and set the configuration
                        for (var instance in CKEDITOR.instances) {
                              if (CKEDITOR.instances.hasOwnProperty(instance)) {
                                    CKEDITOR.instances[instance].config.versionCheck = false;
                              }
                        }
                  }
            });
      </script>

      <script>
            function getCookieValue(name) {
                  let matches = document.cookie.match(new RegExp(
                        "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
                  ));
                  return matches ? decodeURIComponent(matches[1]) : null;
            }

            var some = getCookieValue('snow_state'); 
            if (some!= 'on') {
                  console.log('Snow turned off')
            }
            else {
                  new Snow();
                  console.log('Snow turned on')
            }
      </script>

      {% block content %}
      {% endblock content %}
</body>

</html>