{% extends 'todo/layout.html' %} 
{% block content %}
<form action="/login" method="post" class="form-contact" name="login">
<p><label>Email: </label> <input type="text" name="name" value="" requied />
<p><label>Пароль: </label> <input type="password" name="psw" value="" requied />
<p><input type="checkbox" name="remainme" /> Запомнить меня
<p><input type="submit" name="login"  value="Войти" {% if request.cookies.get('login') == 'Войти' %}selected{% endif %}/>
<hr align=left width="300px">
<p><a href="{{url_for('register')}}">Регистрация</a>
</form>
{% endblock %}