<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<div class="header" style="display: grid; grid-template-columns: 10%  20% 70%;">
<div class="dropdown">
    <button class="dropbtn">| | |</button>
    <div class="dropdown-content">
        <li>
            <a href="/">Главная</a>
            <a href="/task_stats">Статистика</a>
            <a href="/admin">Админка</a>
            <a href="/settings">Настройки</a>
            <a href="/release">Что нового</a>
            <a href="/logout">Выйти</a>
        </li>
    </div>
</div>
<form action="/search" method="post">
    <input type="text" name="search_bar" placeholder="Поиск"
        style="background-color: rgb(56, 55, 55); color: white; width: 80%; margin-left: 0%;">

    <button type="submit">О</button>
</form>
<img src="static/todo_logo_black.png" style="margin-left: 10%;margin-right: 25%;">
</div>