<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% block content %}
<div class="header" style="display: grid; grid-template-columns: 5%  10% 10% 70%; width: 100vw;">
    <div class="dropdown" style="width: 3vh; ">
    <button class="dropbtn" style="background-color:rgb(1,110,78)">≡</button>
    <div class="dropdown-content" style="background-color: rgb(133,156,182);">
        <li style="  list-style-type: none;margin: 0;padding: 0;">
            <a href="/">Главная</a>
            <a href="/task_stats">Статистика</a>
            <a href="/settings">Настройки</a>
            <a href="/release">Что нового</a>
            <a href="/logout">Выйти</a>
        </li>
    </div>
</div>

{% if request.cookies.get('font')=='black' %}

<img src="static/todo_log_noback.png" style="margin-left: 10%;margin-right: 25%; width: 25vw;">
{% else %}
<img src="static/todo_logo_noback_light.png" style="margin-left: 10%;margin-right: 25%; width: 25vw;">
{% endif %}
</div>
{% endblock content %}