<div id="openModal3" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">{{todo.title}}</h3>
                <a href="#close" title="Close" class="close">×</a>
            </div>
            <div class="modal-body">
                <form class="ui form" action="/add" method="post"
                    style="width: 100%; background-color: rgb(56, 55, 55);" name="creator">
                    <div class="field">
                        <input type="text" name="title" placeholder="Введите название задачи"
                            style="background-color: rgb(56, 55, 55); color: white;"><br>
                        {{ ckeditor.create(value='{{todo.descr}}')}}    
                    <button class="ui teal basic button" type="submit"
                        style="margin-bottom: 10px; margin-left: 2.5%;">Добавить</button>

                </form>
            </div>
        </div>
    </div>
</div>