
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<head>
    <title>Статистика</title>
</head>
<body style="{% if request.cookies.get('font')=='black' %}background-color:{{ request.cookies.get('font') }};color:white{% endif %}">

    <div class="dropdown">
        <button class="dropbtn">| | |</button>
        <div class="dropdown-content">
            <li>
                <a href="/">Главная</a>
               <a href="/task_stats">Статистика</a>
                <a href="/admin">Админка</a>
            </li>
            </div>
            </div>

    <div class="pages" style="display: flex; background-color: rgb(56, 55, 55); padding: 1em;">
        <a href="/task_stats" style="margin-left: 5%; margin-right: 5%; background-color: green;">Все задачи</a>
        <a href="/project_stats" style="margin-left: 5%; margin-right: 5%;">Задачи по проектам</a>
        <a href="/user_stats" style="margin-left: 5%; margin-right: 5%;">Задачи по пользователям</a>
    </div>

    <h1>Задачи</h1>
    <div id='divPlotly'></div>
    <div id="divPlotly_2"></div>
    <div id="divPlotly_3"></div>

    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script>
        var graphs = {{ graphJSON | safe }};
        Plotly.newPlot('divPlotly', graphs);
    </script>
        <script>
            var graphs2 = {{ graphJSON2 | safe }};
            Plotly.newPlot('divPlotly_2', graphs2);
        </script>
                <script>
                    var graphs3 = {{ graphJSON3 | safe }};
                    Plotly.newPlot('divPlotly_3', graphs3);
                </script>
</body>
</html>