{% extends 'todo/main/layout.html' %} 
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
   {% for message in messages %}
      {{ message }}
   {% endfor %}
{% endif %}
{% endwith %}
<div id="wrapper">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
<form action="/login" method="post" class="form-contact" name="login" id="signin">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input type="text" id="user" name="name" placeholder="Логин" />
    <input type="password" id="pass" name="psw" placeholder="Пароль" />
<!--<p><input type="checkbox" name="remainme" /> Запомнить меня-->
    <button type="submit" name="login">></button>
<!--<p><input type="submit" name="login"  value="Войти" {% if request.cookies.get('login') == 'Войти' %}selected{% endif %}/>-->
<p><a href="{{url_for('register')}}">Регистрация</a></p>
</form>
</div>
{% endblock %}