{% extends 'todo/main/layout.html' %} 

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
   {% for message in messages %}
      {{ message }}
   {% endfor %}
{% endif %}
{% endwith %}
<div id="wrapper">
<form action="/register" method="post" class="form-contact" id="signin">
<input type="text" name="name" value="" placeholder="Логин" requied />
<input type="email" name="email" value="" placeholder="Адрес электронной почты" requied />
<input type="password" name="psw" value="" placeholder="Пароль" requied />
<input type="password" name="psw2" value="" placeholder="Повтор пароля" requied />
<button type="submit" name="login">></button>
</form>
</div>
{% endblock %}