<link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.8/dist/trix.css">
<script type="text/javascript" src="https://unpkg.com/trix@2.0.8/dist/trix.umd.min.js"></script>
{% block content %} 
<div class="modal-body">
<trix-editor></trix-editor>
<button class="ui teal basic button" type="submit" onclick="onUpdChange(this)"
style="margin: 10px; margin-left: 2.5%;">
Сохранить
</button>
</div>

<script>
async function onUpdChange(button) {
  const form = button.closest('.modal-body');
  console.log(form)
  var getNum = form.querySelector('#trix-input-1').value;
  console.log(getNum);
      


  }
</script>
{% endblock %}
