{% extends 'todo/layout.html' %}
{% include 'todo/menu_w.html' %} 

{% block content %}

<h1 style="margin-left: 10%;">Что нового?</h1>
<div class name="News">
<div class name="news_body" style="margin-left: 15%;">
    <div class="form2" style="{% if request.cookies.get('font')=='black' %}background-color:{{ request.cookies.get('font') }};color:white; border:solid white;{% else %} background-color: rgb(209,205,194); border:solid black;{% endif %} width: 80%;">
        {% block posts %}
        Новости: <br>
        {% for post in news_list %}
        <h3>{{post.title}}</h3>{{post.descr | safe}}<br>Версия: {{post.version}}<br>Дата: {{post.create_date}}<br>{{post.is_send}}
        {% endfor %}
        {% endblock %}
    </div>
</div>
</div>
{% endblock content %}